.container {
    display: flex;
    width: 350px;
    margin-inline: auto;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.formProps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputProps {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}
