.sideBar {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-right: 1px solid gray;
}

.wrapper {
    display: flex;
    gap: 20px;
}